# Disable PHP execution in storage folder
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

# Disable script execution types
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8

# Prevent directory listing
Options -Indexes
